@import url("https://fonts.googleapis.com/css?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-family: "Shrikhand";
  font-size: 2.5em;
}

h3 {
  font-weight: lighter;
}

a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

header img {
  width: 50%;
  margin: 20px 25%;
}

header {
  -webkit-box-shadow: 0px 5px 10px rgb(197, 195, 195);
          box-shadow: 0px 5px 10px rgb(197, 195, 195);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
  position: relative;
  font-size: 3em;
  padding: 0 5%;
}

.arrow-back {
  color: black;
}

footer {
  background-color: rgb(56, 53, 53);
  color: white;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 150px;
}
footer .chip-icon {
  color: white;
}
footer .logo {
  -webkit-filter: brightness(20);
          filter: brightness(20);
  width: 100px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

.restau-widget {
  -webkit-box-shadow: 0px 5px 10px rgb(197, 195, 195);
          box-shadow: 0px 5px 10px rgb(197, 195, 195);
  margin: 10px 0;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  border: 0;
  position: relative;
}
.restau-widget__img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restau-widget__new {
  background-color: #99E2D0;
  color: green;
  border-radius: 2px;
  padding: 10px 15px;
  position: absolute;
  font-weight: bold;
  right: 0;
  margin: 1%;
}
.restau-widget__subpart {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}

@-webkit-keyframes heart-fill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes heart-fill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes dish-appear {
  0% {
    margin-top: 20px;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  100% {
    margin-top: 10px;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    opacity: 1;
  }
}
@keyframes dish-appear {
  0% {
    margin-top: 20px;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  100% {
    margin-top: 10px;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    opacity: 1;
  }
}
@-webkit-keyframes dish-checkmark-turn {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  66% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes dish-checkmark-turn {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  66% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    visibility: hidden;
  }
}
@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    visibility: hidden;
  }
}
@-webkit-keyframes disappear {
  100% {
    z-index: -1;
    visibility: hidden;
  }
}
@keyframes disappear {
  100% {
    z-index: -1;
    visibility: hidden;
  }
}
.btn {
  -webkit-box-shadow: 0px 5px 10px rgb(197, 195, 195);
          box-shadow: 0px 5px 10px rgb(197, 195, 195);
  cursor: pointer;
  border-radius: 50px;
  border: 0;
  padding: 18px 20px;
}
.btn--gradient {
  background: linear-gradient(160deg, #FF79DA 0%, #9356DC 100%);
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.btn--gradient:hover {
  -webkit-box-shadow: 0px 10px 10px rgb(122, 120, 120);
          box-shadow: 0px 10px 10px rgb(122, 120, 120);
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.heart-btn {
  border: 0;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}
.heart-btn__border {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px black;
  font-size: 40px;
}
.heart-btn__border:hover {
  -webkit-text-stroke: 0;
  -webkit-animation: heart-fill 1s ease-in-out;
          animation: heart-fill 1s ease-in-out;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(180deg, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  opacity: 1;
}

.focus {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  opacity: 0.8;
  -webkit-animation: disappear 0.1s forwards 2s;
          animation: disappear 0.1s forwards 2s;
  background-color: white;
}

.loader {
  width: 160px;
  height: 160px;
  border: 30px solid darkgray;
  border-bottom-color: #9356DC;
  border-radius: 50%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation: load 1s linear 2;
          animation: load 1s linear 2;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#location {
  background-color: #ebebeb;
  margin: 0;
  padding: 30px 0;
  text-align: center;
  color: rgb(80, 77, 77);
}

.chip-icon {
  margin-right: 10px;
  color: rgb(80, 77, 77);
}

.heading {
  background-color: #f0f1f7;
  text-align: center;
  padding: 20px;
}
.heading h2 {
  margin: 0;
}

.tuto {
  padding: 0 10px;
}
.tuto__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  counter-reset: my-counter;
}
.tuto__steps__step {
  counter-increment: my-counter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
}
.tuto__steps__step::before {
  content: counter(my-counter);
  background-color: #9356DC;
  color: white;
  border-radius: 50px;
  font-weight: bold;
  padding: 6px 10px;
}
.tuto__steps__step__txt {
  -webkit-box-shadow: 0px 5px 10px rgb(197, 195, 195);
          box-shadow: 0px 5px 10px rgb(197, 195, 195);
  border-radius: 10px;
  margin: 5px 30px 5px 0;
  font-size: 16px;
  font-weight: bold;
  padding: 20px;
  width: 100%;
}
.tuto__steps__step__txt:hover {
  background-color: #f0f1f7;
}
.tuto__steps__step__txt:hover .chip-icon {
  color: #9356DC;
}

.list-restaus {
  padding: 20px;
  background-color: #f0f1f7;
}

@media only screen and (min-width: 992px) {
  .tuto__steps {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .list-restaus ul {
    display: grid !important;
    grid-template-columns: repeat(auto-fill, 350px);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    grid-gap: 5px;
  }
  .restau-widget {
    margin: 2%;
  }
}/*# sourceMappingURL=home.css.map */