@import "../utils/variables.scss";
@import "../utils/mixins.scss";
@import "../base/base-style.scss";
@import "../layouts/header.scss";
@import "../layouts/footer.scss";
@import "../components/restau-widget.scss";
@import "../components/buttons.scss";

.focus{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    opacity: 0.8;
    animation: disappear 0.1s forwards 2s;
    background-color: white;
}

.loader {
    width: 160px;
    height: 160px;
    border: 30px solid darkgray;
    border-bottom-color: $primary-color;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: load 1s linear 2;
    animation-fill-mode: forwards;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    }

    

#location{
    background-color: #ebebeb;
    margin: 0;
    padding: 30px 0;
    text-align: center;
    color: $grey-txt;
}

.chip-icon{
    margin-right: 10px;
    color: $grey-txt;
}

.heading{
    background-color: $grey-bg;
    text-align: center;
    padding: 20px;

    h2{
    margin: 0;
    }
}
 
.tuto{
    padding: 0 10px;
    &__steps{
        display: flex;
        flex-direction: column;
        list-style: none;
        counter-reset: my-counter;
        &__step{
            counter-increment: my-counter;
            display: flex;
            align-items: center;
            padding: 25px;
            &::before{
                content: counter(my-counter);
                background-color: $primary-color;
                color: white;
                border-radius: 50px;
                font-weight: bold;
                padding: 6px 10px;
            }
            &__txt{
                @include grey-shadow;
                border-radius: 10px;
                margin: 5px 30px 5px 0;
                font-size: 16px;
                font-weight: bold;
                padding: 20px;
                width: 100%;
                &:hover{
                    background-color: $grey-bg;
                    & .chip-icon{
                        color: $primary-color;
                    }
                }
            }
        } 
    }
}

.list-restaus{
    padding: 20px;
    background-color: $grey-bg;
}

@media only screen and (min-width: 992px) {
    .tuto__steps{
        flex-direction: row;
        justify-content: center;
    }

    .list-restaus ul{
        display: flex;
        flex-wrap: wrap;
    }

    .restau-widget{
        width: 45%;
        margin: 2%;
    }

}