@import "../utils/variables.scss";
@import "../utils/mixins.scss";
@import "../base/base-style.scss";
@import "../layouts/header.scss";
@import "../layouts/footer.scss";
@import "../components/restau-widget.scss";
@import "../components/buttons.scss";

#location{
    background-color: #ebebeb;
    margin: 0;
    padding: 30px 0;
    text-align: center;
    color: $grey-txt;
}

.chip-icon{
    margin-right: 10px;
    color: $grey-txt;
}

.heading{
    background-color: $grey-bg;
    text-align: center;
    padding: 20px;

    h1{
    margin: 0;
    }
}

.tuto{
    padding: 0 10px;
    &__steps{
        display: flex;
        flex-direction: column;
        list-style: none;
        counter-reset: my-awesome-counter;
        &__step{
            counter-increment: my-awesome-counter;
            display: flex;
            align-items: center;
            &::before{
                content: counter(my-awesome-counter);
                background-color: $primary-color;
                color: white;
                border-radius: 50px;
                font-weight: bold;
                padding: 6px 10px;
            }
            &__txt{
                @include grey-shadow;
                border-radius: 10px;
                margin: 5px 30px 5px 0;
                font-size: 16px;
                font-weight: bold;
                padding: 20px;
                width: 100%;
            }
            padding: 25px;
        }
    }
}

.list-restaus{
    padding: 20px;
    background-color: $grey-bg;
}

