@import "../utils/variables.scss";
@import "../utils/mixins.scss";
@import "../base/base-style.scss";
@import "../layouts/header.scss";
@import "../layouts/footer.scss";
@import "../components/restau-widget.scss";
@import "../components/buttons.scss";

.banner{
    height: 290px;
    img{
        width: 100%;
        height: 364px;
        object-fit: cover;
    }
}

.menu{
    padding: 30px 20px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: $grey-bg;
    position:relative;
    &__heading{
        display: flex;
        justify-content: space-between;
    }
}

.dish-heading{
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    &::after{
        content: "";
        width: 30px;
        height: 3px;
        background-color: $tertiary-color;
    }
}

@for $i from 1 through 20 {
    .menu .dish:nth-child(#{$i}) {
        animation-delay: #{$i * 0.2}s;
    }
}

.dish{
    @include grey-shadow;
    cursor: pointer;
    background-color: white;
    text-align: start;
    border: 0;
    border-radius: 15px;
    margin: 10px 0;
    opacity: 0;
    animation: dish-appear 1.5s 0s linear alternate;
    animation-fill-mode: forwards;
    display: flex;   
    overflow: hidden;
    padding: 0;
    &:hover{
        & .dish__check{
            width: 90px;
            &__checkmark{
                animation: dish-checkmark-turn 0.5s 0s linear alternate;
                animation-fill-mode:both;
            }
        }
    }
    &__content{
        padding: 10px 20px 5px 10px;
        flex: 3;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        h2{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin: 0;
        }
        &__subpart{
            margin: 0;
            display: flex;
            justify-content: space-between;
            font-size: 1.2em;
            &__desc{
                text-overflow: ellipsis;
                overflow: hidden;
            }
            &__price{
                font-weight: bold;
                color: $grey-txt;
            }
        }
    }
    &__check{
        font-size: 2.5em;
        background-color: $tertiary-color;
        color: white;
        text-align: center;
        line-height: 90px;
        width: 0;
        transition: width 0.5s ease; 
    }
}