@import "../utils/variables.scss";
@import "../utils/keyframes.scss";

.btn{
    @include grey-shadow;
    cursor: pointer;
    border-radius: 50px;
    border: 0;
    padding: 18px 20px;
    &--gradient{
        background: linear-gradient(160deg, $secondary-color  0%, $primary-color 100%);
        color: white;
        font-size: 16px;
        font-weight: bold;        
        width: fit-content;
        margin: auto;
        &:hover{
            box-shadow: 0px 10px 10px rgb(122, 120, 120);
            filter: brightness(120%);
        }
    }
}

.heart-btn{
    border: 0;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    &__border{
        color: rgba(0, 0, 0, 0);
        -webkit-text-stroke: 2px black;
        font-size: 40px;
        &:hover{
            -webkit-text-stroke: 0;
            animation: heart-fill 1s ease-in-out;
            background: linear-gradient(180deg, $primary-color 0%, $secondary-color  100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: inline-block;
            opacity: 1;
         }
         
    }
    
}