@import "../utils/mixins.scss";

ul{
    list-style: none;
    padding: 0;
}

.restau-widget{
    @include grey-shadow;
    margin: 10px 0;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    border: 0;
    position: relative;
    &__img{
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
    &__new{
        background-color: $tertiary-color;
        color: green;
        border-radius: 2px;
        padding: 10px 15px;
        position: absolute;
        font-weight: bold;
        right: 0;
        margin: 1%;
    }
    &__subpart{
        color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
    }
}