@import url('https://fonts.googleapis.com/css?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: "Shrikhand";
    font-size: 2.5em;
}

h3{
    font-weight: lighter;
}

a{
    &:link { 
        color: white;
        text-decoration: none;
    }
    
    &:visited { 
        text-decoration: none; 
    }

    &:hover {
        text-decoration: none; 
    }

    &:active { 
        text-decoration: none; 
    }
}