@import "../utils/_variables.scss";
@import "../utils/_mixins.scss";

header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

header{
    @include grey-shadow;
    display: flex;
    align-items: center;
    z-index: 0;
    position: relative;
    font-size: 3em;
    padding: 10px 5%;  
}

header a{
    display: flex;
    align-items: center;
}

.arrow-back{
    color: black;
    font-size: 30px;
}