@import "../utils/variables.scss";

footer{
    background-color: $dark-grey-bg;
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
    .chip-icon{
        color: white;
    }
    .logo{
        filter: brightness(20);
        width: 100px;
        margin-bottom: 10px;
    }
}

